<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TODO</title>
</head>

<body>
    <h1>Per-line data on how TODO contributes to binary size</h1>
    <p>A line-annotated syntax-highlighted copy of the source file is at the bottom of the page. TODO: Put it at the top
    </p>
    <table>
        <thead>
            <tr>
                <th>Line number</th>
                <th>Size in binary</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sorted_line_data %}
            <tr>
                <td>item.line_number</td>
                <td>item.size_in_binary</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>